/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {

    margin: 0px;

}


ul, li {

    margin: 0px;
    list-style-type: none;

}


/*---------------------------------------------*/
input {

    outline: none;
    border: none;

}

select {

    outline: none;
    border: none;

}

textarea {

    outline: none;
    border: none;

}

/*---------------------------------------------*/

textarea:focus, input:focus, select:focus {

    border-color: transparent !important;

}

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

select::-webkit-input-placeholder { color: #999999; }
select:-moz-placeholder { color: #999999; }
select::-moz-placeholder { color: #999999; }
select:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {

    border: none;
    background: transparent;

}

button:hover {

    cursor: pointer;

}

iframe {

    border: none !important;

}


/*//////////////////////////////////////////////////////////////////
[ Contact 1 ]*/

.contact1 {

    width: 100%;
    background: #009bff;
    background: -webkit-linear-gradient(left, #205684, #00c6ff69);
    background: -o-linear-gradient(left, #0072ff, #00c6ff);
    background: -moz-linear-gradient(left, #0072ff, #00c6ff);
    background: linear-gradient(left, #0072ff, #00c6ff);
    margin: 0;

}

.container-contact1 {

    width: auto;
    background: #fffff0;
    border-radius: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 90px 130px 88px 148px;
    border-style: groove;
    margin-top: 35px;
    margin-left: 75px;

}


.container-contact2 {

    width: 275%;
    background: #fffff0;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 10px;
    border-style: groove;
    margin-top: 35px;
    margin-left: 75px;

}

.contact1-form {

    width: 500px;

}

.contact2-form {

    width: 500px;
    margin: 0;

}

.contact1-form-title {

    display: block;
    font-family: Montserrat-ExtraBold;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 44px;

}


input.input1 {

    height: 50px;
    border-radius: 25px;
    padding: 0 30px;

}

input.input2 {

    height: 50px;
    border-radius: 25px;
    padding: 15px;
    width: 50px;

}


select.input1 {

    -webkit-appearance:none;  /* for chrome & safari */
    -moz-appearance: none;    /* for mozilla */

    height: 50px;
    border-radius: 25px;
    padding: 0 30px;


    background: #e6e6e6 url("http://localhost/SIMS/img/arrow.png") no-repeat;
    background-position: 350px 18px;

}


input.input1 + .shadow-input1 {
    border-radius: 25px;
}

select.input1 + .shadow-input1 {
    border-radius: 25px;
}

textarea.input1 {

    min-height: 150px;
    border-radius: 25px;
    padding: 10px 30px;

}

textarea.input1 + .shadow-input1 {

    border-radius: 25px;

}

/*---------------------------------------------*/

.wrap-input1 {

    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;

}

.input1 {
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 20px;
    line-height: 1.5;
    color: #222222;
}

.input2 {
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 20px;
    line-height: 1.5;
    color: #222222;
}

.shadow-input1 {

    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(87,184,70, 0.5);
}

.input1:focus + .shadow-input1 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 80px 30px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 80px 30px;
        opacity: 0;
    }
}

/*---------------------------------------------*/
.container-contact1-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact1-form-btn {
    min-width: 193px;
    height: 50px;
    border-radius: 25px;
    background: #4588f7e0;
    font-family: Montserrat-Bold;
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact2-form-btn {

    min-width: 10px;
    height: 50px;
    border-radius: 25px;
    background: #67b168;
    font-family: Montserrat-Bold;
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact1-form-btn i {

    margin-left: 7px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact2-form-btn i {

    margin: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact1-form-btn:hover {
    background: #2162ce;
}

.contact2-form-btn:hover {
    background: #537b53;
}

.contact1-form-btn:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
}

.contact2-form-btn:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
}



/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 1200px) {
    .contact1-pic {
        width: 33.5%;
    }

    .contact1-form {
        width: 44%;
    }
}

@media (max-width: 992px) {
    .container-contact1 {
        padding: 90px 80px 88px 90px;
    }

    .contact1-pic {
        width: 35%;
    }

    .contact1-form {
        width: 55%;
    }
}

@media (max-width: 768px) {
    .container-contact1 {
        padding: 90px 80px 88px 80px;
    }

    .contact1-pic {
        display: none;
    }

    .contact1-form {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .container-contact1 {
        padding: 90px 15px 88px 15px;
    }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;

    font-family: Montserrat-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: visible;
    opacity: 1;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

.alert-data::before {
    content: attr(data-alert);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #00c834;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;

    font-family: Montserrat-Medium;
    color: #1e8a3a;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: visible;
    opacity: 1;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-data::after {
    display: block;
    position: absolute;
    color: #2a8424;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
}

.alert-data:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-data::before {
        visibility: visible;
        opacity: 1;
    }
}

a{
    text-decoration :none;
    color: #021103;
}

a:hover {
    text-decoration :none;
    color: #ffffff;
}

a.one:hover {
    text-decoration :none;
    color:#e2e88f;
}



.body1 {
    background-color: #c5ffc6;
}